<!DOCTYPE html>
<html lang="EN">
  <head>
        <title>URL Shortner app using Node and Redis</title>
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body style="background-color:#E64A19;">
      <div class="container" style="margin-top: 10%;">
            <div class='row'>
                    <h1 style='color: white'>URL Shortner App using Node and Redis</h1>
                    <input type='text' class="form-control" style="width: 50%;" id='url'>
                    <input type='button' id='submit' value='Generate Short URL' class="btn btn-primary" style="margin-left: 10px;">
              </div>
  </body>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#submit').click(function() {
          var url = $('#url').val();
          $.post('/api/short', {url: url}, function(data, status) {
              alert('Short URL: ' + data);
          });
      });
  });
  </script>
</html>